<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>sample</title>
</head>
<body>
<h1 th:text="${fullName}">김철수</h1>
<hr>
<div sec:authorize="hasRole('ADMIN')">
    ADMIN ROLE</div>

<div sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
    ADMIN | STAFF ROLE</div>
<hr>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="name"></span>님

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>
</div>

</body>
</html>








