<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>xyz.html</title>
</head>
<body>
<h1>XYZ page</h1>
<form action="/catalog/xyz">
    id : <input type="text" name="id"><br>
    pw : <input type="password" name="pw">
    <input type="submit" value="GET">
</form>

<hr>

<form action="/catalog/xyz" method="post">
    id : <input type="text" name="id"><br>
    pw : <input type="password" name="pw">
    <input type="submit" value="POST">
</form>
</body>
</html>